<form method="POST" action="PostProduct2">
    <input type="text" name="id"/>
    <input type="text" name="category" />
    <input type="text" name="brend" />
    <input type="text" name="model" />
    <input type="text" name="price" />
    <input type="text" name="description" />
    <input type="text" name="image" />
    <button>Отправить</button>
</form>
